.wrapper {
    width: 100vw;
    height: 100vh;
    background: rgb(34,186,195);
    background: linear-gradient(0deg, rgba(34,186,195,1) 0%, rgba(173,255,134,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #1E90FF;
    margin: 15px 0;
}